# Question 2
This exercise utilizes the data set *School.sav*, which can be downloaded from this site: http://edhd.bgsu.edu/amm/datasets.html

In [151]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pylab 
from scipy import stats
import seaborn as sb
import statsmodels.api as sm
import numbers
from sklearn.preprocessing import MinMaxScaler

## Take a sample of 50

In [165]:
# Read in the data
df = pd.read_excel('school.xlsx', header=0)

In [166]:
# Sample 50
df = df.sample(n=50, random_state=123)
df.head()

,school,id,loinc93,lep93,lep94,grad93,grad94,act94,act93,pctact93,...,math93,math94me,mathch94,read93,read94me,readch94,scienc93,sci94me,scich94,medloinc
51,Schurz,52,67.2,25.7,29.3,41.5,44.1,15.1,15.2,36.2,...,155.0,NaN,1.0,168.0,NaN,-6.0,164.0,35.0,3.0,NaN
31,Kelly,32,89.7,22.7,25.2,27.9,44.1,15.4,15.4,47.3,...,161.0,43.0,7.0,171.0,35.0,-10.0,170.0,43.0,10.0,1
63,Young Magnet,64,28.1,0.2,0.1,87.3,NaN,22.5,22.3,91.7,...,331.0,99.0,1.0,327.0,97.0,-1.0,311.0,98.0,NaN,NaN
53,Simeon Vocat.,54,56.5,0.0,0.0,55.7,NaN,15.7,15.8,54.0,...,176.0,43.0,-1.0,196.0,45.0,-14.0,180.0,41.0,-1.0,0
23,Harper,24,NaN,0.2,0.1,24.1,32.8,14.1,14.5,25.6,...,128.0,12.0,1.0,127.0,19.0,-3.0,150.0,14.0,-6.0,0

In [167]:
df.dtypes

school       object
id            int64
loinc93     float64
lep93       float64
lep94       float64
grad93      float64
grad94      float64
act94       float64
act93       float64
pctact93    float64
pctact94    float64
math93      float64
math94me    float64
mathch94    float64
read93      float64
read94me    float64
readch94    float64
scienc93    float64
sci94me     float64
scich94     float64
medloinc     object
dtype: object

In [161]:
# TODO
#df['medloinc'==" "]=None

In [168]:
# Save sample as csv
#df.to_csv('q2_school_sample.csv')

## A. Percent Missing Data
Report the missing value information for the variables as well as the cases (observations). What % of data is missing?

In [169]:
metric_vars = df.columns.drop('school').drop('id').drop('medloinc').drop('missing')
metric_vars

ValueError: labels ['missing'] not contained in axis

In [170]:
def missing_col_summary(df):
    var_missing_summary = pd.DataFrame(columns=['variable', 'num_cases', 'mean', 'std', 'num_cases_missing', 
                                                'percent_missing'])
    missing_sum = df.isnull().sum()
    missing_perc = df.isnull().mean().round(4) * 100
    for i in range(len(df.columns)):
        if df.columns[i] == 'id':
            continue
        num_missing = missing_sum[i]
        perc_missing = missing_perc[i]
        if df.columns[i] in metric_vars:
            mean = df[df.columns[i]].mean()
            std = np.std(df[df.columns[i]])
        else:
            mean = 'NA'
            std = 'NA'
        var_missing_summary = var_missing_summary.append({'variable':df.columns[i], 'num_cases':50-num_missing, 
                                                          'mean': mean, 'std':std, 'num_cases_missing':num_missing, 
                                                          'percent_missing':perc_missing}, ignore_index=True)
    return var_missing_summary

missing_col_summary(df)

    variable num_cases      mean      std num_cases_missing  percent_missing
0     school        50        NA       NA                 0              0.0
1    loinc93        38   57.9526  19.8399                12             24.0
2      lep93        50     6.442  9.90352                 0              0.0
3      lep94        48      7.25  10.7433                 2              4.0
4     grad93        41   45.6756  15.0997                 9             18.0
5     grad94        40    47.235  14.9298                10             20.0
6      act94        40    15.885   1.8919                10             20.0
7      act93        38   15.8211  1.71175                12             24.0
8   pctact93        45   54.7689  18.8078                 5             10.0
9   pctact94        39   48.2641  15.3308                11             22.0
10    math93        35     166.2  44.7774                15             30.0
11  math94me        38   34.5789  23.8091                12             24.0
12  mathch94        49  0.306122  5.33071                 1              2.0
13    read93        36   167.528  44.0476                14             28.0
14  read94me        43   39.7674  21.2262                 7             14.0
15  readch94        49  -5.30612  5.59228                 1              2.0
16  scienc93        40   181.625  41.2345                10             20.0
17   sci94me        40    37.775  21.0778                10             20.0
18   scich94        43  -1.48837  5.65016                 7             14.0
19  medloinc        43        NA       NA                 7             14.0

In [171]:
def missing_row_summary(df):
    case_summary = pd.DataFrame(columns=['missing_data_per_case', 'num_cases', 'percent_sample'])

    for i in range(13):
        num_cases = len(df[df['missing'] == i])
        case_summary = case_summary.append({'missing_data_per_case':i, 'num_cases':num_cases,
                                            'percent_sample':num_cases/50}, ignore_index=True)
    return case_summary

df['missing'] = df.isnull().sum(axis=1)
missing = [df.index[df.isnull().sum(axis=1)]]
ml = list(missing[0])
df.loc[ml]
missing_row_summary(df)

    missing_data_per_case  num_cases  percent_sample
0                     0.0        3.0            0.06
1                     1.0        9.0            0.18
2                     2.0       10.0            0.20
3                     3.0       11.0            0.22
4                     4.0       10.0            0.20
5                     5.0        2.0            0.04
6                     6.0        2.0            0.04
7                     7.0        0.0            0.00
8                     8.0        1.0            0.02
9                     9.0        0.0            0.00
10                   10.0        0.0            0.00
11                   11.0        1.0            0.02
12                   12.0        1.0            0.02

In [172]:
print('total cases: {}'.format(len(df[df['missing'] > -1])))

total cases: 50

## B. MAR vs CMAR
Missing at Random is diagnosed by using a t-test

CMAR is diagnosed by the Missing Value Analysis. MCAR data allows for a wider range of remedies to be applied.

Steps:
* Divide all the variables to 2 group of missing and non-missing (0 and 1). 
* Perform the t-test (all the combinations pairs) to see if the data set is nonrandom / MAR or CMAR. 
* Only show the fraction of No significant P.Values  
* How many non-significances/ total?

In [173]:
null_data = df[df.isnull().any(axis=1)]
null_data.head()

,school,id,loinc93,lep93,lep94,grad93,grad94,act94,act93,pctact93,...,math94me,mathch94,read93,read94me,readch94,scienc93,sci94me,scich94,medloinc,missing
51,Schurz,52,67.2,25.7,29.3,41.5,44.1,15.1,15.2,36.2,...,NaN,1.0,168.0,NaN,-6.0,164.0,35.0,3.0,NaN,3
63,Young Magnet,64,28.1,0.2,0.1,87.3,NaN,22.5,22.3,91.7,...,99.0,1.0,327.0,97.0,-1.0,311.0,98.0,NaN,NaN,4
53,Simeon Vocat.,54,56.5,0.0,0.0,55.7,NaN,15.7,15.8,54.0,...,43.0,-1.0,196.0,45.0,-14.0,180.0,41.0,-1.0,0,1
23,Harper,24,NaN,0.2,0.1,24.1,32.8,14.1,14.5,25.6,...,12.0,1.0,127.0,19.0,-3.0,150.0,14.0,-6.0,0,1
40,Manley,41,74.8,0.0,0.0,35.0,34.4,NaN,14.5,24.6,...,9.0,-2.0,123.0,12.0,-10.0,NaN,23.0,8.0,1,2

In [174]:
complete_data = df[~df.isnull().any(axis=1)]
complete_data.head()

,school,id,loinc93,lep93,lep94,grad93,grad94,act94,act93,pctact93,...,math94me,mathch94,read93,read94me,readch94,scienc93,sci94me,scich94,medloinc,missing
31,Kelly,32,89.7,22.7,25.2,27.9,44.1,15.4,15.4,47.3,...,43.0,7.0,171.0,35.0,-10.0,170.0,43.0,10.0,1,0
0,Amundsen,1,70.7,22.9,26.0,34.7,49.0,15.9,15.9,49.0,...,37.0,3.0,171.0,42.0,-5.0,188.0,55.0,8.0,1,0
14,Dunbar Vocat.,15,70.2,0.0,0.0,54.0,46.0,14.9,15.1,69.4,...,38.0,5.0,185.0,44.0,-11.0,170.0,37.0,-3.0,1,0

In [175]:
# id and missing should not go through analysis
# shcool and lep93 have no missing values
missing_cols = df.columns.drop('id').drop('missing').drop('school').drop('lep93').drop('medloinc')
compare_cols = df.columns.drop('id').drop('missing').drop('school').drop('medloinc')
missing_cols

Index(['loinc93', 'lep94', 'grad93', 'grad94', 'act94', 'act93', 'pctact93',
       'pctact94', 'math93', 'math94me', 'mathch94', 'read93', 'read94me',
       'readch94', 'scienc93', 'sci94me', 'scich94'],
      dtype='object')

In [176]:
compare_cols

Index(['loinc93', 'lep93', 'lep94', 'grad93', 'grad94', 'act94', 'act93',
       'pctact93', 'pctact94', 'math93', 'math94me', 'mathch94', 'read93',
       'read94me', 'readch94', 'scienc93', 'sci94me', 'scich94'],
      dtype='object')

In [194]:
alpha = 0.05

def randomness_missing(df):
    test_results = pd.DataFrame(columns=['variable1', 'variable2', 'p_value', 't_value,', 'missing_type', 
                                         'num_cases_valid','num_cases_missing', 'mean_valid_cases', 
                                         'mean_cases_missing', 'hypothesis', 'conclusion'])
    var_results = pd.DataFrame(columns=['variable', 'num_significant', 'num_nonsignificant', 'non-sig / total'])
    for var in missing_cols:
        # Step 1: Divide the data into 2 groups: missing and non-missing
        missing_data = df[df[var].isnull()]
        nonmissing_data = df[~df[var].isnull()]
        sig = 0
        nonsig = 0
        # Step 2: Perform the t-test to compare the observations of misssing and nonmissing data 
        # for var to each other var
        for compare in compare_cols:
            # If it is the same var, just track the missing data
            if compare == var:
                t_value = '.'
                p_value = '.'
                num_valid = nonmissing_data[compare].isnull().sum()
                num_missing = missing_data[compare].isnull().sum()
                mean_valid = nonmissing_data[compare].mean()
                mean_missing = '.'
                missing = 'NA'
                hypothesis = 'NA'
                conclusion = 'NA'
                
                test_results = test_results.append({'variable1':var, 'variable2':compare, 'p_value':p_value, 
                                    't_value,':t_value, 'missing_type':missing, 
                                    'num_cases_valid':50-num_missing, 'num_cases_missing':num_missing,
                                    'mean_valid_cases':mean_valid, 'mean_cases_missing':mean_missing, 
                                    'hypothesis':hypothesis, 'conclusion':conclusion}, ignore_index=True)
                continue
            # perform t-test
            t_value, p_value = stats.ttest_ind(missing_data[compare], nonmissing_data[compare])
            print("\nt-Test p-value for {0} vs. {1} = {2}".format(var, compare, p_value))
            # Evaluate the test
            missing, hypothesis, conclusion = evaluate_hypothesis(p_value, var)
            # Calcuate missing
            num_valid = nonmissing_data[compare].isnull().sum()
            num_missing = missing_data[compare].isnull().sum()
            mean_valid = nonmissing_data[compare].mean()
            mean_missing = missing_data[compare].mean()
            # Save the results    
            print("{0}. {1}.".format(hypothesis, conclusion))
            test_results = test_results.append({'variable1':var, 'variable2':compare, 'p_value':p_value, 
                                                't_value,':t_value, 'missing_type':missing, 
                                                'num_cases_valid':50-num_missing, 'num_cases_missing':num_missing,
                                                'mean_valid_cases':mean_valid, 'mean_cases_missing':mean_missing, 
                                                'hypothesis':hypothesis, 'conclusion':conclusion}, ignore_index=True)
            if missing == 'Not Significant':
                nonsig += 1
            elif missing == 'Significant':
                sig += 1
        var_results = var_results.append({'variable':var, 'num_significant':sig, 'num_nonsignificant':nonsig, 
                                          'non-sig / total':nonsig / (sig + nonsig)}, ignore_index=True)
    return test_results, var_results

def evaluate_hypothesis(p_val, i):
    if p_val > alpha:  
        missing = "Not Significant"
        hypothesis = "We fail to reject the H0 that the missing data for {} is MAR".format(i)
        conclusion = "The missing observations in {} showed no significant difference between the two groups".format(i)
    else:
        missing = "Significant"
        hypothesis = "We reject the H0 that the missing data for {} is MAR".format(i)
        conclusion = "The missing observations in {} showed a significant difference between the two groups".format(i)
    return missing, hypothesis, conclusion

test_results, var_results = randomness_missing(df)

t-Test p-value for loinc93 vs. lep93 = 0.361032349162111
We fail to reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed no significant difference between the two groups.

t-Test p-value for loinc93 vs. lep94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. grad93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. grad94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. act94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. act93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. pctact93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. pctact94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. math93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. math94me = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. mathch94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. read93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. read94me = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. readch94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. scienc93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. sci94me = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. scich94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. loinc93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. lep93 = 0.7553832015437942
We fail to reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed no significant difference between the two groups.

t-Test p-value for lep94 vs. grad93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. grad94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. act94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. act93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. pctact93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. pctact94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. math93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. math94me = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. mathch94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. read93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. read94me = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. readch94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. scienc93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. sci94me = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. scich94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. loinc93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. lep93 = 0.3151655762192099
We fail to reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed no significant difference between the two groups.

t-Test p-value for grad93 vs. lep94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. grad94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. act94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. act93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. pctact93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. pctact94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. math93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. math94me = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. mathch94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. read93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. read94me = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. readch94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. scienc93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. sci94me = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. scich94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. loinc93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. lep93 = 0.437962326469473
We fail to reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed no significant difference between the two groups.

t-Test p-value for grad94 vs. lep94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. grad93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. act94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. act93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. pctact93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. pctact94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. math93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. math94me = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. mathch94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. read93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. read94me = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. readch94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. scienc93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. sci94me = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. scich94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. loinc93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. lep93 = 0.8870910098809832
We fail to reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed no significant difference between the two groups.

t-Test p-value for act94 vs. lep94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. grad93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. grad94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. act93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. pctact93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. pctact94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. math93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. math94me = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. mathch94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. read93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. read94me = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. readch94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. scienc93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. sci94me = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. scich94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act93 vs. loinc93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. lep93 = 0.5391858092434099
We fail to reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed no significant difference between the two groups.

t-Test p-value for act93 vs. lep94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. grad93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. grad94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. act94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. pctact93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. pctact94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. math93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. math94me = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. mathch94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. read93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. read94me = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. readch94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. scienc93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. sci94me = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. scich94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. loinc93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. lep93 = 0.900670167211467
We fail to reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed no significant difference between the two groups.

t-Test p-value for pctact93 vs. lep94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. grad93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. grad94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. act94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. act93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. pctact94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. math93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. math94me = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. mathch94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. read93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. read94me = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. readch94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. scienc93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. sci94me = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. scich94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. loinc93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. lep93 = 0.10442713415818776
We fail to reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed no significant difference between the two groups.

t-Test p-value for pctact94 vs. lep94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. grad93 = nan

We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. grad94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. act94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. act93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. pctact93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. math93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. math94me = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. mathch94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. read93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. read94me = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. readch94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. scienc93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. sci94me = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. scich94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for math93 vs. loinc93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. lep93 = 0.9073851106923171
We fail to reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed no significant difference between the two groups.

t-Test p-value for math93 vs. lep94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. grad93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. grad94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. act94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. act93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. pctact93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. pctact94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. math94me = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. mathch94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. read93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. read94me = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. readch94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. scienc93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. sci94me = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. scich94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math94me vs. loinc93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. lep93 = 0.7568400964519604
We fail to reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed no significant difference between the two groups.

t-Test p-value for math94me vs. lep94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. grad93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. grad94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. act94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. act93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. pctact93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. pctact94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. math93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. mathch94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. read93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. read94me = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. readch94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. scienc93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. sci94me = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. scich94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. loinc93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. lep93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. lep94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. grad93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. grad94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. act94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. act93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. pctact93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. pctact94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. math93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. math94me = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. read93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. read94me = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. readch94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. scienc93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. sci94me = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. scich94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for read93 vs. loinc93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. lep93 = 0.5326302678816839
We fail to reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed no significant difference between the two groups.

t-Test p-value for read93 vs. lep94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. grad93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. grad94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. act94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. act93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. pctact93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. pctact94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. math93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. math94me = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. mathch94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. read94me = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. readch94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. scienc93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. sci94me = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. scich94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read94me vs. loinc93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. lep93 = 0.48928675084694684
We fail to reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed no significant difference between the two groups.

t-Test p-value for read94me vs. lep94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. grad93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. grad94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. act94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. act93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. pctact93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. pctact94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. math93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. math94me = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. mathch94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. read93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. readch94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. scienc93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. sci94me = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. scich94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for readch94 vs. loinc93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. lep93 = nan

/Users/req89250/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3157: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/Users/req89250/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [195]:
test_results

,variable1,variable2,p_value,"t_value,",missing_type,num_cases_valid,num_cases_missing,mean_valid_cases,mean_cases_missing,hypothesis,conclusion
0,loinc93,loinc93,.,.,NA,38,12,57.952632,.,NA,NA
1,loinc93,lep93,0.361032,-0.922208,Not Significant,50,0,7.176316,4.11667,We fail to reject the H0 that the missing data...,The missing observations in loinc93 showed no ...
2,loinc93,lep94,NaN,NaN,Significant,50,0,8.150000,4.55,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
3,loinc93,grad93,NaN,NaN,Significant,49,1,46.476667,43.4909,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
4,loinc93,grad94,NaN,NaN,Significant,47,3,47.496774,46.3333,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
5,loinc93,act94,NaN,NaN,Significant,48,2,16.133333,15.14,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
6,loinc93,act93,NaN,NaN,Significant,45,5,15.935484,15.3143,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
7,loinc93,pctact93,NaN,NaN,Significant,47,3,55.422222,52.1556,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
8,loinc93,pctact94,NaN,NaN,Significant,50,0,47.348148,50.325,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
9,loinc93,math93,NaN,NaN,Significant,47,3,173.500000,145.111,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
10,loinc93,math94me,NaN,NaN,Significant,47,3,37.931034,23.7778,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
11,loinc93,mathch94,NaN,NaN,Significant,50,0,1.432432,-3.16667,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
12,loinc93,read93,NaN,NaN,Significant,47,3,175.444444,143.778,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
13,loinc93,read94me,NaN,NaN,Significant,49,1,41.406250,35,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
14,loinc93,readch94,NaN,NaN,Significant,50,0,-5.108108,-5.91667,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
15,loinc93,scienc93,NaN,NaN,Significant,49,1,187.896552,165.091,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
16,loinc93,sci94me,NaN,NaN,Significant,49,1,40.413793,30.8182,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
17,loinc93,scich94,NaN,NaN,Significant,50,0,-1.225806,-2.16667,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
18,lep94,loinc93,NaN,NaN,Significant,50,0,57.113889,73.05,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
19,lep94,lep93,0.755383,-0.313336,Not Significant,50,0,6.533333,4.25,We fail to reject the H0 that the missing data...,The missing observations in lep94 showed no si...
20,lep94,lep94,.,.,NA,48,2,7.250000,.,NA,NA
21,lep94,grad93,NaN,NaN,Significant,49,1,45.915000,36.1,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
22,lep94,grad94,NaN,NaN,Significant,50,0,47.542105,41.4,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
23,lep94,act94,NaN,NaN,Significant,50,0,15.939474,14.85,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
24,lep94,act93,NaN,NaN,Significant,49,1,15.851351,14.7,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
25,lep94,pctact93,NaN,NaN,Significant,50,0,55.537209,38.25,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
26,lep94,pctact94,NaN,NaN,Significant,50,0,48.889189,36.7,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
27,lep94,math93,NaN,NaN,Significant,49,1,167.088235,136,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
28,lep94,math94me,NaN,NaN,Significant,49,1,34.972973,20,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
29,lep94,mathch94,NaN,NaN,Significant,50,0,0.276596,1,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
...,...,...,...,...,...,...,...,...,...,...,...
276,sci94me,act93,NaN,NaN,Significant,46,4,15.796875,15.95,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
277,sci94me,pctact93,NaN,NaN,Significant,48,2,54.448649,56.25,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
278,sci94me,pctact94,NaN,NaN,Significant,45,5,48.626471,45.8,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
279,sci94me,math93,NaN,NaN,Significant,46,4,163.034483,181.5,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
280,sci94me,math94me,NaN,NaN,Significant,45,5,32.636364,47.4,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
281,sci94me,mathch94,NaN,NaN,Significant,49,1,0.200000,0.777778,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
282,sci94me,read93,NaN,NaN,Significant,46,4,167.266667,168.833,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
283,sci94me,read94me,NaN,NaN,Significant,47,3,38.250000,47.5714,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
284,sci94me,readch94,NaN,NaN,Significant,49,1,-5.450000,-4.66667,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
285,sci94me,scienc93,NaN,NaN,Significant,47,3,179.181818,193.143,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
286,sci94me,sci94me,.,.,NA,40,10,37.775000,.,NA,NA
287,sci94me,scich94,NaN,NaN,Significant,47,3,-1.055556,-3.71429,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
288,scich94,loinc93,NaN,NaN,Significant,50,0,57.503226,59.9429,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
289,scich94,lep93,0.279509,-1.09378,Not Significant,50,0,7.065116,2.61429,We fail to reject the H0 that the missing data...,The missing observations in scich94 showed no ...
290,scich94,lep94,NaN,NaN,Significant,50,0,8.029268,2.68571,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
291,scich94,grad93,NaN,NaN,Significant,47,3,45.394595,48.275,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
292,scich94,grad94,NaN,NaN,Significant,48,2,46.985714,48.98,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
293,scich94,act94,NaN,NaN,Significant,48,2,15.800000,16.48,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
294,scich94,act93,NaN,NaN,Significant,48,2,15.590909,17.34,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
295,scich94,pctact93,NaN,NaN,Significant,49,1,54.405128,57.1333,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
296,scich94,pctact94,NaN,NaN,Significant,47,3,48.240000,48.475,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
297,scich94,math93,NaN,NaN,Significant,46,4,161.281250,218.667,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
298,scich94,math94me,NaN,NaN,Significant,48,2,33.393939,42.4,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
299,scich94,mathch94,NaN,NaN,Significant,49,1,0.139535,1.5,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
300,scich94,read93,NaN,NaN,Significant,46,4,161.909091,229.333,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
301,scich94,read94me,NaN,NaN,Significant,49,1,38.513514,47.5,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
302,scich94,readch94,NaN,NaN,Significant,49,1,-5.511628,-3.83333,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
303,scich94,scienc93,NaN,NaN,Significant,48,2,178.342857,204.6,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
304,scich94,sci94me,NaN,NaN,Significant,47,3,36.805556,46.5,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
305,scich94,scich94,.,.,NA,43,7,-1.488372,.,NA,NA

In [196]:
var_results

    variable num_significant num_nonsignificant  non-sig / total
0    loinc93              16                  1         0.058824
1      lep94              16                  1         0.058824
2     grad93              16                  1         0.058824
3     grad94              16                  1         0.058824
4      act94              16                  1         0.058824
5      act93              16                  1         0.058824
6   pctact93              16                  1         0.058824
7   pctact94              16                  1         0.058824
8     math93              16                  1         0.058824
9   math94me              16                  1         0.058824
10  mathch94              17                  0         0.000000
11    read93              16                  1         0.058824
12  read94me              16                  1         0.058824
13  readch94              17                  0         0.000000
14  scienc93              16                  1         0.058824
15   sci94me              16                  1         0.058824
16   scich94              16                  1         0.058824

## C. Delete Missing Cases
Delte cases with more than 5 missing per case

In [84]:
# number of cases with more than 5 missing
df.index[df['missing'] > 5].tolist()

[27, 13, 5, 10, 3]

In [85]:
# Drop cases with more than 5 missing data
new_df = df.drop(df.index[df['missing'] > 5].tolist())

In [86]:
len(new_df)

45

In [94]:
null_data = new_df[new_df.isnull().any(axis=1)]
null_data.head()

,school,id,loinc93,lep93,lep94,grad93,grad94,act94,act93,pctact93,...,math94me,mathch94,read93,read94me,readch94,scienc93,sci94me,scich94,medloinc,missing
51,Schurz,52,67.2,25.7,29.3,41.5,44.1,15.1,15.2,36.2,...,NaN,1.0,168.0,NaN,-6.0,164.0,35.0,3.0,NaN,3
63,Young Magnet,64,28.1,0.2,0.1,87.3,NaN,22.5,22.3,91.7,...,99.0,1.0,327.0,97.0,-1.0,311.0,98.0,NaN,NaN,4
53,Simeon Vocat.,54,56.5,0.0,0.0,55.7,NaN,15.7,15.8,54.0,...,43.0,-1.0,196.0,45.0,-14.0,180.0,41.0,-1.0,0,1
23,Harper,24,NaN,0.2,0.1,24.1,32.8,14.1,14.5,25.6,...,12.0,1.0,127.0,19.0,-3.0,150.0,14.0,-6.0,0,1
40,Manley,41,74.8,0.0,0.0,35.0,34.4,NaN,14.5,24.6,...,9.0,-2.0,123.0,12.0,-10.0,NaN,23.0,8.0,1,2

In [95]:
complete_data = new_df[~new_df.isnull().any(axis=1)]
complete_data.head()

,school,id,loinc93,lep93,lep94,grad93,grad94,act94,act93,pctact93,...,math94me,mathch94,read93,read94me,readch94,scienc93,sci94me,scich94,medloinc,missing
31,Kelly,32,89.7,22.7,25.2,27.9,44.1,15.4,15.4,47.3,...,43.0,7.0,171.0,35.0,-10.0,170.0,43.0,10.0,1,0
0,Amundsen,1,70.7,22.9,26.0,34.7,49.0,15.9,15.9,49.0,...,37.0,3.0,171.0,42.0,-5.0,188.0,55.0,8.0,1,0
14,Dunbar Vocat.,15,70.2,0.0,0.0,54.0,46.0,14.9,15.1,69.4,...,38.0,5.0,185.0,44.0,-11.0,170.0,37.0,-3.0,1,0

## D. Missing Data After Deletion
Repeat part (a) and (b) after deletion of the cases. Same as above

### Part A. Missing Data Summary

In [92]:
missing_col_summary(new_df)

    variable num_cases      mean      std num_cases_missing  percent_missing
0     school        50        NA       NA                 0             0.00
1    loinc93        40     58.08  20.6348                10            22.22
2      lep93        50   6.69111  10.2754                 0             0.00
3      lep94        48   7.58837   11.173                 2             4.44
4     grad93        44   45.6872  15.3204                 6            13.33
5     grad94        42   46.5108  15.0308                 8            17.78
6      act94        43   15.9553  1.91541                 7            15.56
7      act93        41   15.7972  1.75554                 9            20.00
8   pctact93        47   55.5929  18.0564                 3             6.67
9   pctact94        41   48.3861  14.1192                 9            20.00
10    math93        40     166.2  44.7774                10            22.22
11  math94me        42    34.973  24.0062                 8            17.78
12  mathch94        50  0.511111   5.2435                 0             0.00
13    read93        39   168.559  45.0341                11            24.44
14  read94me        44   40.0769  22.0168                 6            13.33
15  readch94        50  -4.97778  5.28515                 0             0.00
16  scienc93        43   181.789  41.8262                 7            15.56
17   sci94me        44   37.6923  21.3399                 6            13.33
18   scich94        46  -1.63415  5.72012                 4             8.89
19  medloinc        45        NA       NA                 5            11.11
20   missing        50        NA       NA                 0             0.00

In [91]:
new_df['missing'] = new_df.isnull().sum(axis=1)
missing = [new_df.index[new_df.isnull().sum(axis=1)]]
ml = list(missing[0])
new_df.loc[ml]
missing_row_summary(new_df)

    missing_data_per_case  num_cases  percent_sample
0                     0.0        3.0            0.06
1                     1.0        9.0            0.18
2                     2.0       11.0            0.22
3                     3.0       10.0            0.20
4                     4.0       10.0            0.20
5                     5.0        2.0            0.04
6                     6.0        0.0            0.00
7                     7.0        0.0            0.00
8                     8.0        0.0            0.00
9                     9.0        0.0            0.00
10                   10.0        0.0            0.00
11                   11.0        0.0            0.00
12                   12.0        0.0            0.00

### Part B. MAR vs CMAR

In [191]:
test_results, var_results = randomness_missing(new_df)

t-Test p-value for loinc93 vs. lep93 = 0.32239096990047134
We fail to reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed no significant difference between the two groups.

t-Test p-value for loinc93 vs. lep94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. grad93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. grad94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. act94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. act93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. pctact93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. pctact94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. math93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. math94me = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. mathch94 = 0.015777303026374857
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. read93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. read94me = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. readch94 = 0.6334777855916862
We fail to reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed no significant difference between the two groups.

t-Test p-value for loinc93 vs. scienc93 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. sci94me = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for loinc93 vs. scich94 = nan
We reject the H0 that the missing data for loinc93 is MAR. The missing observations in loinc93 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. loinc93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. lep93 = 0.7381958245041946
We fail to reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed no significant difference between the two groups.

t-Test p-value for lep94 vs. grad93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. grad94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. act94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. act93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. pctact93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. pctact94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. math93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. math94me = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. mathch94 = 0.8956913709950381
We fail to reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed no significant difference between the two groups.

t-Test p-value for lep94 vs. read93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. read94me = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. readch94 = 0.2813173000562578
We fail to reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed no significant difference between the two groups.

t-Test p-value for lep94 vs. scienc93 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. sci94me = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for lep94 vs. scich94 = nan
We reject the H0 that the missing data for lep94 is MAR. The missing observations in lep94 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. loinc93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. lep93 = 0.42295525672097645
We fail to reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed no significant difference between the two groups.

t-Test p-value for grad93 vs. lep94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. grad94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. act94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. act93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. pctact93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. pctact94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. math93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. math94me = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. mathch94 = 0.5180174600492111
We fail to reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed no significant difference between the two groups.

t-Test p-value for grad93 vs. read93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. read94me = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. readch94 = 0.37870783861878343
We fail to reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed no significant difference between the two groups.

t-Test p-value for grad93 vs. scienc93 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. sci94me = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad93 vs. scich94 = nan
We reject the H0 that the missing data for grad93 is MAR. The missing observations in grad93 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. loinc93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. lep93 = 0.6623204484400571
We fail to reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed no significant difference between the two groups.

t-Test p-value for grad94 vs. lep94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. grad93 = nan

We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. act94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. act93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. pctact93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. pctact94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. math93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. math94me = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. mathch94 = 0.4645366642186842
We fail to reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed no significant difference between the two groups.

t-Test p-value for grad94 vs. read93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. read94me = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. readch94 = 0.1643142691570863
We fail to reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed no significant difference between the two groups.

t-Test p-value for grad94 vs. scienc93 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. sci94me = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for grad94 vs. scich94 = nan
We reject the H0 that the missing data for grad94 is MAR. The missing observations in grad94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. loinc93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. lep93 = 0.6384615468196284
We fail to reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed no significant difference between the two groups.

t-Test p-value for act94 vs. lep94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. grad93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. grad94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. act93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. pctact93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. pctact94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. math93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. math94me = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. mathch94 = 0.9136555429624016
We fail to reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed no significant difference between the two groups.

t-Test p-value for act94 vs. read93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. read94me = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. readch94 = 0.9490742396305807
We fail to reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed no significant difference between the two groups.

t-Test p-value for act94 vs. scienc93 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. sci94me = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act94 vs. scich94 = nan
We reject the H0 that the missing data for act94 is MAR. The missing observations in act94 showed a significant difference between the two groups.

t-Test p-value for act93 vs. loinc93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. lep93 = 0.4297430996585224
We fail to reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed no significant difference between the two groups.

t-Test p-value for act93 vs. lep94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. grad93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. grad94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. act94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. pctact93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. pctact94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. math93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. math94me = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. mathch94 = 0.9119917711951697
We fail to reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed no significant difference between the two groups.

t-Test p-value for act93 vs. read93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. read94me = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. readch94 = 0.3417294437725258
We fail to reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed no significant difference between the two groups.

t-Test p-value for act93 vs. scienc93 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. sci94me = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for act93 vs. scich94 = nan
We reject the H0 that the missing data for act93 is MAR. The missing observations in act93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. loinc93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. lep93 = 0.7483110693387415
We fail to reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed no significant difference between the two groups.

t-Test p-value for pctact93 vs. lep94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. grad93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. grad94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. act94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. act93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. pctact94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. math93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. math94me = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. mathch94 = 0.01883916767468382
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. read93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. read94me = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. readch94 = 0.43577199693940005
We fail to reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed no significant difference between the two groups.

t-Test p-value for pctact93 vs. scienc93 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. sci94me = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact93 vs. scich94 = nan
We reject the H0 that the missing data for pctact93 is MAR. The missing observations in pctact93 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. loinc93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. lep93 = 0.0985642429627816
We fail to reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed no significant difference between the two groups.

t-Test p-value for pctact94 vs. lep94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. grad93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. grad94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. act94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. act93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. pctact93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. math93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. math94me = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. mathch94 = 0.4711738832207897
We fail to reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed no significant difference between the two groups.

t-Test p-value for pctact94 vs. read93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. read94me = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. readch94 = 0.7420399882806692
We fail to reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed no significant difference between the two groups.

t-Test p-value for pctact94 vs. scienc93 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. sci94me = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for pctact94 vs. scich94 = nan
We reject the H0 that the missing data for pctact94 is MAR. The missing observations in pctact94 showed a significant difference between the two groups.

t-Test p-value for math93 vs. loinc93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. lep93 = 0.8682930835136673
We fail to reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed no significant difference between the two groups.

t-Test p-value for math93 vs. lep94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. grad93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. grad94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. act94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. act93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. pctact93 = nan

We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. pctact94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. math94me = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. mathch94 = 0.84771520688293
We fail to reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed no significant difference between the two groups.

t-Test p-value for math93 vs. read93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. read94me = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. readch94 = 0.2950807256357611
We fail to reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed no significant difference between the two groups.

t-Test p-value for math93 vs. scienc93 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. sci94me = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math93 vs. scich94 = nan
We reject the H0 that the missing data for math93 is MAR. The missing observations in math93 showed a significant difference between the two groups.

t-Test p-value for math94me vs. loinc93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. lep93 = 0.6504933106010486
We fail to reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed no significant difference between the two groups.

t-Test p-value for math94me vs. lep94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. grad93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. grad94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. act94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. act93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. pctact93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. pctact94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. math93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. mathch94 = 0.10791493414709895
We fail to reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed no significant difference between the two groups.

t-Test p-value for math94me vs. read93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. read94me = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. readch94 = 0.6574426183269845
We fail to reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed no significant difference between the two groups.

t-Test p-value for math94me vs. scienc93 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. sci94me = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for math94me vs. scich94 = nan
We reject the H0 that the missing data for math94me is MAR. The missing observations in math94me showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. loinc93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. lep93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. lep94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. grad93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. grad94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. act94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. act93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. pctact93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. pctact94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. math93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. math94me = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. read93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. read94me = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. readch94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. scienc93 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. sci94me = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for mathch94 vs. scich94 = nan
We reject the H0 that the missing data for mathch94 is MAR. The missing observations in mathch94 showed a significant difference between the two groups.

t-Test p-value for read93 vs. loinc93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. lep93 = 0.6669627519065605
We fail to reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed no significant difference between the two groups.

t-Test p-value for read93 vs. lep94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. grad93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. grad94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. act94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. act93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. pctact93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. pctact94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. math93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. math94me = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. mathch94 = 0.09401616246042133
We fail to reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed no significant difference between the two groups.

t-Test p-value for read93 vs. read94me = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. readch94 = 0.8106187739299837
We fail to reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed no significant difference between the two groups.

t-Test p-value for read93 vs. scienc93 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. sci94me = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read93 vs. scich94 = nan
We reject the H0 that the missing data for read93 is MAR. The missing observations in read93 showed a significant difference between the two groups.

t-Test p-value for read94me vs. loinc93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. lep93 = 0.5993110639977494
We fail to reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed no significant difference between the two groups.

t-Test p-value for read94me vs. lep94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. grad93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. grad94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. act94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. act93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. pctact93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. pctact94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. math93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. math94me = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. mathch94 = 0.3293735757235764
We fail to reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed no significant difference between the two groups.

t-Test p-value for read94me vs. read93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. readch94 = 0.5790833237416673
We fail to reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed no significant difference between the two groups.

t-Test p-value for read94me vs. scienc93 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. sci94me = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for read94me vs. scich94 = nan
We reject the H0 that the missing data for read94me is MAR. The missing observations in read94me showed a significant difference between the two groups.

t-Test p-value for readch94 vs. loinc93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. lep93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. lep94 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. grad93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. grad94 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. act94 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. act93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. pctact93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. pctact94 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. math93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. math94me = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. mathch94 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. read93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. read94me = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. scienc93 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. sci94me = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for readch94 vs. scich94 = nan
We reject the H0 that the missing data for readch94 is MAR. The missing observations in readch94 showed a significant difference between the two groups.

t-Test p-value for scienc93 vs. loinc93 = nan
We reject the H0 that the missing data for scienc93 is MAR. The missing observations in scienc93 showed a significant difference between the two groups.

t-Test p-value for scienc93 vs. lep93 = 0.11283439929185637
We fail to reject the H0 that the missing data for scienc93 is MAR. The missing observations in scienc93 showed no significant difference between the two groups.

t-Test p-value for scienc93 vs. lep94 = nan
We reject the H0 that the missing data for scienc93 is MAR. The missing observations in scienc93 showed a significant difference between the two groups.

t-Test p-value for scienc93 vs. grad93 = nan
We reject the H0 that the missing data for scienc93 is MAR. The missing observations in scienc93 showed a significant difference between the two groups.

t-Test p-value for scienc93 vs. grad94 = nan

In [192]:
test_results

,variable1,variable2,p_value,"t_value,",missing_type,num_cases_valid,num_cases_missing,mean_valid_cases,mean_cases_missing,hypothesis,conclusion
0,loinc93,loinc93,.,.,NA,40,10,58.080000,.,NA,NA
1,loinc93,lep93,0.322391,-1.00107,MAR,50,0,7.520000,3.79,We fail to reject the H0 that the missing data...,The missing observations in loinc93 showed no ...
2,loinc93,lep94,NaN,NaN,Not MAR,50,0,8.581818,4.31,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
3,loinc93,grad93,NaN,NaN,Not MAR,49,1,46.476667,43.0556,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
4,loinc93,grad94,NaN,NaN,Not MAR,48,2,47.082759,44.4375,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
5,loinc93,act94,NaN,NaN,Not MAR,49,1,16.189655,15.2,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
6,loinc93,act93,NaN,NaN,Not MAR,47,3,15.913793,15.3143,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
7,loinc93,pctact93,NaN,NaN,Not MAR,48,2,56.588235,51.3625,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
8,loinc93,pctact94,NaN,NaN,Not MAR,50,0,48.753846,47.43,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
9,loinc93,math93,NaN,NaN,Not MAR,49,1,173.500000,145.111,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
10,loinc93,math94me,NaN,NaN,Not MAR,49,1,38.571429,23.7778,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
11,loinc93,mathch94,0.0157773,-2.51358,Not MAR,50,0,1.514286,-3,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
12,loinc93,read93,NaN,NaN,Not MAR,48,2,176.000000,144.375,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
13,loinc93,read94me,NaN,NaN,Not MAR,49,1,41.466667,35.4444,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
14,loinc93,readch94,0.633478,-0.480259,MAR,50,0,-4.771429,-5.7,We fail to reject the H0 that the missing data...,The missing observations in loinc93 showed no ...
15,loinc93,scienc93,NaN,NaN,Not MAR,50,0,187.250000,166.5,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
16,loinc93,sci94me,NaN,NaN,Not MAR,50,0,40.413793,29.8,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
17,loinc93,scich94,NaN,NaN,Not MAR,50,0,-1.225806,-2.9,We reject the H0 that the missing data for loi...,The missing observations in loinc93 showed a s...
18,lep94,loinc93,NaN,NaN,Not MAR,50,0,57.172727,73.05,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
19,lep94,lep93,0.738196,-0.336413,MAR,50,0,6.804651,4.25,We fail to reject the H0 that the missing data...,The missing observations in lep94 showed no si...
20,lep94,lep94,.,.,NA,48,2,7.588372,.,NA,NA
21,lep94,grad93,NaN,NaN,Not MAR,49,1,45.939474,36.1,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
22,lep94,grad94,NaN,NaN,Not MAR,50,0,46.802857,41.4,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
23,lep94,act94,NaN,NaN,Not MAR,50,0,16.016667,14.85,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
24,lep94,act93,NaN,NaN,Not MAR,49,1,15.828571,14.7,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
25,lep94,pctact93,NaN,NaN,Not MAR,50,0,56.460000,38.25,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
26,lep94,pctact94,NaN,NaN,Not MAR,50,0,49.073529,36.7,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
27,lep94,math93,NaN,NaN,Not MAR,49,1,167.088235,136,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
28,lep94,math94me,NaN,NaN,Not MAR,49,1,35.388889,20,We reject the H0 that the missing data for lep...,The missing observations in lep94 showed a sig...
29,lep94,mathch94,0.895691,0.131884,MAR,50,0,0.488372,1,We fail to reject the H0 that the missing data...,The missing observations in lep94 showed no si...
...,...,...,...,...,...,...,...,...,...,...,...
276,sci94me,act93,NaN,NaN,Not MAR,48,2,15.796875,15.8,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
277,sci94me,pctact93,NaN,NaN,Not MAR,50,0,54.336111,63.1333,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
278,sci94me,pctact94,NaN,NaN,Not MAR,47,3,48.003030,52.6,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
279,sci94me,math93,NaN,NaN,Not MAR,50,0,163.034483,181.5,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
280,sci94me,math94me,NaN,NaN,Not MAR,48,2,32.636364,54.25,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
281,sci94me,mathch94,0.688156,0.404081,MAR,50,0,0.384615,1.33333,We fail to reject the H0 that the missing data...,The missing observations in sci94me showed no ...
282,sci94me,read93,NaN,NaN,Not MAR,48,2,167.266667,178.25,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
283,sci94me,read94me,NaN,NaN,Not MAR,48,2,38.342857,55.25,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
284,sci94me,readch94,0.473272,0.72353,MAR,50,0,-5.205128,-3.5,We fail to reject the H0 that the missing data...,The missing observations in sci94me showed no ...
285,sci94me,scienc93,NaN,NaN,Not MAR,49,1,179.181818,199,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
286,sci94me,sci94me,.,.,NA,44,6,37.692308,.,NA,NA
287,sci94me,scich94,NaN,NaN,Not MAR,50,0,-1.200000,-4.16667,We reject the H0 that the missing data for sci...,The missing observations in sci94me showed a s...
288,scich94,loinc93,NaN,NaN,Not MAR,50,0,57.503226,62.55,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
289,scich94,lep93,0.371205,-0.903672,MAR,50,0,7.129268,2.2,We fail to reject the H0 that the missing data...,The missing observations in scich94 showed no ...
290,scich94,lep94,NaN,NaN,Not MAR,50,0,8.146154,2.15,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
291,scich94,grad93,NaN,NaN,Not MAR,50,0,45.391429,48.275,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
292,scich94,grad94,NaN,NaN,Not MAR,49,1,46.558824,45.9667,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
293,scich94,act94,NaN,NaN,Not MAR,50,0,15.835294,16.975,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
294,scich94,act93,NaN,NaN,Not MAR,49,1,15.590909,18.0667,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
295,scich94,pctact93,NaN,NaN,Not MAR,50,0,54.297368,67.9,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
296,scich94,pctact94,NaN,NaN,Not MAR,49,1,47.236364,61.0333,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
297,scich94,math93,NaN,NaN,Not MAR,49,1,161.281250,218.667,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
298,scich94,math94me,NaN,NaN,Not MAR,50,0,33.393939,48,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
299,scich94,mathch94,0.498325,0.682913,MAR,50,0,0.341463,2.25,We fail to reject the H0 that the missing data...,The missing observations in scich94 showed no ...
300,scich94,read93,NaN,NaN,Not MAR,48,2,162.625000,263.5,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
301,scich94,read94me,NaN,NaN,Not MAR,50,0,38.828571,51,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
302,scich94,readch94,0.0630572,1.90819,MAR,50,0,-5.439024,-0.25,We fail to reject the H0 that the missing data...,The missing observations in scich94 showed no ...
303,scich94,scienc93,NaN,NaN,Not MAR,50,0,179.147059,204.25,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
304,scich94,sci94me,NaN,NaN,Not MAR,50,0,36.685714,46.5,We reject the H0 that the missing data for sci...,The missing observations in scich94 showed a s...
305,scich94,scich94,.,.,NA,46,4,-1.634146,.,NA,NA

In [193]:
var_results

    variable num_significant num_nonsignificant  non-sig / total
0    loinc93              15                  2         0.117647
1      lep94              14                  3         0.176471
2     grad93              14                  3         0.176471
3     grad94              14                  3         0.176471
4      act94              14                  3         0.176471
5      act93              14                  3         0.176471
6   pctact93              15                  2         0.117647
7   pctact94              14                  3         0.176471
8     math93              14                  3         0.176471
9   math94me              14                  3         0.176471
10  mathch94              17                  0         0.000000
11    read93              14                  3         0.176471
12  read94me              14                  3         0.176471
13  readch94              17                  0         0.000000
14  scienc93              14                  3         0.176471
15   sci94me              14                  3         0.176471
16   scich94              14                  3         0.176471